<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="gmail_server" value="imap.gmail.com"></add>
    <add key="gmail_port" value="993"></add>
    <add key="smtp_server" value="smtp.gmail.com"></add>
    <add key="smtp_port" value="465"></add>
  </appSettings>
</configuration>